h1{
    background-color: rgb(206, 187, 14);
    text-align: center;
h1}
p{
    font-family: courier new;
    p}
    p{
        font-size: 23;
    p}
body{
    background-color:rgb(196, 193, 193);7
body}
ul{
    padding-left: 17;
ul}

img{
  border-radius: 55px;
img}
a:hover{
    color: rgb(219, 28, 28);
a:hover}













